/*                KEY POSITIONS

  ╭────────────────────────╮ ╭────────────────────────╮
  │  0  1  2  3  4  5      │ │       6  7  8  9 10 11 │
  │ 12 13 14 15 16 17      │ │      18 19 20 21 22 23 │
  │ 24 25 26 27 28 29      │ │      30 31 32 33 34 35 │
  │ 36 37 38 39 40 41 42   │ │   43 44 45 46 47 48 49 │
  ╰──────────╮ 50 51 52 53 │ │ 54 55 56 57 ╭──────────╯
             ╰─────────────╯ ╰─────────────╯            */

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TERM) \
        combo_##NAME { \
            timeout-ms = <TERM>; \
            bindings = <BINDINGS>; \
            key-positions = <KEYPOS>; \
            layers = <0 1>; \
        };

/ {
    combos {
        compatible = "zmk,combos";

/* COMBO(bspc,   &kp BSPC,     26 27, 30) */
/* COMBO(del,    &kp DEL,      27 28, 30) */
/* COMBO(esc,    &kp ESC,      31 32, 30) */
/* COMBO(ent,    &kp ENT,      32 33, 30) */
/* COMBO(excl,   &kp EXCL,     28 13, 30) */
/* COMBO(at,     &kp AT,       28 14, 30) */
/* COMBO(hash,   &kp HASH,     28 15, 30) */
/* COMBO(dllr,   &kp DLLR,     28 16, 30) */
/* COMBO(prcnt,  &kp PRCNT,    28 17, 30) */
/* COMBO(caret,  &kp CARET,    28 18, 30) */
/* COMBO(apms,   &kp APMS,     31 19, 30) */
/* COMBO(astrk,  &kp ASTRK,    31 20, 30) */
/**/
/* COMBO(minus,  &kp KP_MINUS, 20 21, 30) */
/* COMBO(under,  &kp UNDER,    19 20 21, 30) */
/* COMBO(equal,  &kp EQUAL,    19 20, 30) */
/* COMBO(plus,   &kp KP_PLUS,  19 21, 30) */
/**/
/* COMBO(lpar,   &kp LPAR,     37 38, 30) */
/* COMBO(rpar,   &kp RPAR,     46 47, 30) */
/* COMBO(lbkt,   &kp LBKT,     38 39, 30) */
/* COMBO(rbkt,   &kp RBKT,     45 46, 30) */
/* COMBO(lbrc,   &kp LBRC,     37 39, 30) */
/* COMBO(rbrc,   &kp RBRC,     45 47, 30) */
/* COMBO(lt,     &kp LT,       37 38 39, 30) */
/* COMBO(gt,     &kp GT,       45 46 47, 30) */
/**/
/* COMBO(capswd, &caps_word,   36 49, 50) */

    };
};

